Configuring Artifacts and test results
--------------------------------------
* Open the project you want to acrchive the artifacts.
![preview](./Images/Jenkins86.png)
![preview](./Images/Jenkins87.png)
![preview](./Images/Jenkins88.png)
* Now lets build the project.
![preview](./Images/Jenkins89.png)
![preview](./Images/Jenkins90.png)
* The project has build successfully.
* Now lets check the artifacts and test results.
![preview](./Images/Jenkins91.png)